
.spreadsheet {
    display: grid;
    grid-template-areas: 
    "topbar topbar  topbar"
    "content    content content"
    "footer footer  footer";
    // grid-template-columns: 1fr 5fr;
    justify-items: start;
    align-items: stretch;
    overflow: auto;
    width: 100%;
    font-size:small;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.spreadsheet-content{
    grid-area: content;
}

.spreasheet-topbar{
    grid-area:topbar;
    text-transform: uppercase;
    font-size: medium;
    height: 50px;
}

.spreadsheet-cell {
    overflow: hidden;
    width: 130px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: .9;
    // justify-self: stretch;
    border-width: 1px;
}

// CELLS ON TOP BAR
.spreadsheet-topbar .row .spreadsheet-cell {
    width: 132px;
    text-transform: uppercase;
    font-weight:500;
    font-size:small;
}

.spreadsheet-topbar .row .spreadsheet-cell:hover{
    cursor:pointer;
    color:grey;
}

.spreadsheet-content .list .row .spreadsheet-cell {
    border-style: solid;
    // margin: 1% 1% 1% 1%;
}

.spreadsheet-content .list .row:hover {
    background-color: lightgray;
}

.spreadsheet-cell:hover {
    opacity: 1;
    // cursor: pointer;
    overflow: visible;
}

.top-row {
    text-transform: uppercase;
}

// NON-MOBILE
@media(min-width: 900px) {
    .spreadsheet {
        grid-template-areas: 
        "leftsidebar topbar  topbar"
        "leftsidebar    content content"
        "footer footer  footer";
    }
}