.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
    height: 100vh;
  }
  
  .homeButton {
    color: white;
    font-size: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border-color: white;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 8%;
  }