.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: auto;
  height: 100vh;
}

.homeButton {
  color: white;
  font-size: 100%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-color: white;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px 2px;
  margin-top: 8%;
}

.buttonClicked {
  opacity: 50%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  margin: 2% 2% 2% 2%;
}

.navbar-img {
  max-width: 15%;
}

.itemDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.itemDisplayRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 4px 4px 4px 4px;
}

.dashboardButton {
  /* height: 55%; */
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  font-weight: bold;
}

.dashboardButton:hover {
  cursor:pointer;
  opacity: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
